@import './scss/variables';
@import './scss/mixins';

.app {
  display: flex;

  .panel {

    &__left {
      
      .genres {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin-top: 2rem;

        & > *:not(:last-child) {
          margin-bottom: .5rem;
        }
      }
    }
    
    &__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      max-height: 95vh;
      overflow-y: auto;
      overflow-x: hidden;

      .movies {
        display: flex;
        flex-wrap: wrap;
        padding: 1.5rem;

        & > * {
          flex: 1 0 21%;
          margin: 5px;
          height: 8rem;

          @include mediaQueryWidth(901px, 1400px) {
            flex: 1 0 30%;
          }

          @include mediaQueryWidth(751px, 900px) {
            flex: 1 0 45%;
          }

          @include mediaQueryWidth(0px, 750px) {
            flex: 1 0 100%;
          }
        }
      }

      .pages {
        margin-top: auto;
        &__button:not(:last-of-type) {
          margin-right: .2rem;
        }
      }
    }


    &__left,
    &__right {
      padding: 2rem;
    }

    &__title {
      user-select: none;
    }
  }
}